<?xml version="1.0" encoding="UTF-8"?>

<!--please pay attention that: file name should not be logback.xml，name it logback-spring.xml to use it in springboot framework-->
<configuration>

    <springProperty scope="context" name="logging.level" source="logging.level.com.alipay.demo"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %-5level [%X{SOFA-TraceId},%X{SOFA-SpanId}] %logger{80} - %msg%n</Pattern>
        </encoder>
    </appender>
   
    <logger name="com.alipay.demo" level="${logging.level}" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache.coyote" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>